<h1>サロン情報の編集</h1>

<%= form_for @SalonInformation ,url: salon_salon_information_path(params[:salon_id],@SalonInformation.id) do |f| %>
  <p>サロン名</p>
  <p><%= f.text_field :salon_name , :size => "30" %></p>
  <br/>
  <p>サロン説明</p>
  <p><%= f.text_area :salon_description , :size => "30x10" %></p>
  <br/>
  <p><%= f.submit "　登録　",class: "btn btn-primary" %></p>
<% end %>
    <ul>
    <% @SalonInformation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<br/>
<p><%= link_to "管理ページに戻る", owner_salon_path(params[:salon_id]) %></p>
