<h1>サロン情報の編集</h1>
<br/>
<p><%= link_to "管理ページ", owner_salon_path(params[:salon_id]) %> ＞ サロン情報の編集</p>
<br/>

<%= form_for @SalonInformation ,url: salon_salon_information_path(params[:salon_id],@SalonInformation.id) do |f| %>
  <p class="font-bold">サロン名</p>
  <p><%= f.text_field :salon_name , :size => "30" %></p>
  <br/>
  <p class="font-bold">サロン説明</p>
  <p><%= f.text_area :salon_description , :size => "30x10" %></p>
  <br/>
  <p class="font-bold">サロン自動承認</p>
  <p><%= f.radio_button 'automatic_approval', 'true' %> 自動承認する</p>
  <p><%= f.radio_button 'automatic_approval', 'false' %> 自動承認しない</p>
  <p>※ユーザーがサロンの参加申請をした際に自動で承認するか、手動で承認するかの設定です。</p>
  <br/>
  <p class="font-bold">サロン画像</p>
  <p><%= f.file_field :image %></p>
  <br/>
  <% if @SalonInformation.image? %>
    <p class="font-bold">現在の画像</p>
    <div>
      <%= image_tag @SalonInformation.image.thumb_mini.url %>
    </div>
  <% end %>

  <br/>
  <p><%= f.submit "　登録　",class: "btn btn-primary" %></p>
<% end %>
    <ul>
    <% @SalonInformation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<br/>
