<div class="login-box">
  <div class="login-center">
    <h2>サロンを作成する</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label "Eメール" %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <br />

      <div class="field">
        <%= f.label "パスワード(6文字以上)" %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <br />

      <div class="field">
        <%= f.label "パスワード(確認)" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <br />

      <div class="actions">
        <%= f.submit "会員登録する", class: "btn btn-primary" %>
      </div>
    <% end %>

    <br />
    <%= render "owners/shared/links" %>
  </div>
</div>