<h1>購入履歴</h1>
<br/>
<p><%= link_to "マイページ", user_path(current_user.id) %> ＞ 購入履歴</p>

<% if @orders.empty? %>
  <br/>
  <p>現在、購入履歴はありません。</p>
  <br/>
<% end %>

<% @orders.each do |order| %>
  <div class="purchase-order-box">
    <h3>注文番号:<%= order.id %></h3>
    <% order.purchases.each do |item| %>
      <div class="purchase-order-item">
        <p>商品名:<%= item.product.product_name %></p>
        <p>価格:<%= item.product.price %>円</p>
        <p>購入数:<%= item.purchase_num %></p>
        <p>小計:<%= item.subtotal %>円</p>
      </div>
    <% end %>
    <h4>合計:　<%= order_total(order) %>円</h4>
  </div>
<% end %>
