<h1>Owner専用ページ</h1>

<h2>掲示板管理</h2>
<p><%= link_to "新規投稿" , new_salon_post_path(current_owner.id) %></p>
<p><%= link_to "サロン掲示板を見る" , salon_posts_path(current_owner.id) %></p>


<hr>

<h2>申請中のユーザー一覧</h2>

<% @SalonApplyingMember.each do |user| %>
    <p>ユーザーid:<%= user.user_id %></p>
    <%= form_for @SalonApproved ,url: '/salon_approveds',method: :post do |f| %>
      <%= f.hidden_field :user_id, :value => user.user_id %>
      <%= f.submit "承認する" %>
    <% end %>
    -------------------------
<% end %>

<hr>
<h2>承認済みのユーザー一覧</h2>

<% @SalonApprovedMember.each do |user| %>
  <p>ユーザーid:<%= user.user_id %></p>
<% end %>


<p><%= link_to "home", root_path %></p>
