<h1>サロン管理ページ</h1>

      <div class="row">
        <div class="col-sm-4">
          <div class="owner-controler-box">
            <h2>マイサロン</h2>
            <p><%= link_to "サロン紹介ページ", salon_index_salon_path(current_owner.id) %></p>
            <p><%= link_to "サロン会員トップ", salon_path(current_owner.id) %></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="owner-controler-box">
            <h2>サロン編集</h2>
            <% if @SalonInformation.present? %>
              <p><%= link_to "サロン情報編集", edit_salon_salon_information_path(params[:id],@SalonInformation.id) %></p>
            <% else %>
              <p><%= link_to "サロン情報登録", new_salon_salon_information_path(params[:id]) %></p>
            <% end %>
            <p><%= link_to "プロフィール編集", profile_edit_owner_path(params[:id]) %></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="owner-controler-box">
            <h2>メンバー</h2>
            <p><%= link_to "承認中のメンバー一覧", salon_applying_path(params[:id]) %></p>
            <p><%= link_to "承認済みメンバー一覧", salon_approved_path(params[:id]) %></p>
          </div>     
        </div>
      </div>


      <div class="row">
        <div class="col-sm-4">
          <div class="owner-controler-box">
            <h2>掲示板</h2>
            <p><%= link_to "新規投稿" , new_salon_post_path(current_owner.id) %></p>
            <p><%= link_to "サロン掲示板を見る" , salon_posts_path(current_owner.id) %></p>
            <p><%= link_to "サロン掲示板管理画面" , owner_index_salon_posts_path(current_owner.id) %></p>            
          </div>
        </div>
        <div class="col-sm-4">
          <div class="owner-controler-box">
            <h2>ショップ</h2>
            <p><%= link_to "新規出品", new_salon_product_path(current_owner.id) %></p>
            <p><%= link_to "マイショップ", salon_products_path(current_owner.id) %></p>
            <p><%= link_to "マイショップ管理画面", owner_index_salon_products_path(current_owner) %></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="owner-controler-box">
            <h2>コンテンツ</h2>
            <br/>
            <br/>
            <p>Comming Soon</p>
          </div>
        </div>        
      </div>
