<% if @SalonInformation.present? %>
  <h1><%= @SalonInformation.salon_name %></h1>
  <% if @SalonInformation.image? %>
    <div>
      <%= image_tag @SalonInformation.image.thumb.url %>
    </div>
  <% end %>  
  <div class="salon-index-box">
    <h2>サロン説明</h2>
    <h4><%= @SalonInformation.salon_description %></h4>
  </div>
<% else %>
  <h1>サロン紹介ページ</h1>
<% end %>

<br/>

<% if owner_signed_in? %>
  <div class="btn-center">
    <p class="btn btn-primary btn-lg">サロンに参加申請を送る</p>
    <p>※管理ログイン時はこのボタンは動作しません。</p>
  </div>
<% else %>
  <%= form_for @SalonApplying ,url: '/salon_applyings',method: :post do |f| %>
    <%= f.hidden_field :salon_id, :value => @salon_id %>
    <p class="btn-center"><%= f.submit "サロンに参加申請を送る", class: "btn btn-primary btn-lg" %></p>
  <% end %>
<% end %>

<br/>
<p>会員ページはこちら：<%= link_to "会員ページへ", salon_path(@salon_id) %></p>
