<% if @SalonInformation.present? %>
  <h1><%= @SalonInformation.salon_name %></h1>
<% else %>
  <h1>サロントップページ</h1>
<% end %>

<% if @SalonInformation.image? %>
  <div>
    <%= image_tag @SalonInformation.image.thumb.url %>
  </div>
<% end %>

<br/>
<p>
  <%= link_to "サロン掲示板", salon_posts_path(params[:id]), class: "btn btn-success salon-btn-width"%>
  <%= link_to "ショップ", salon_products_path(params[:id]), class: "btn btn-primary salon-btn-width" %>
  <%= link_to "サロン教材", salon_contents_path(params[:id]), class: "btn btn-warning salon-btn-width" %>
</p>


<div class="salon-top-box">
  <h3>お知らせ</h3>
  <p>お知らせはありません。</p>
</div>

<div class="salon-top-box">
  <h3>最新の投稿</h3>
  <br/>
  <% @posts.each do |post| %>
    <p>・<%= link_to post.title, salon_post_path(params[:id],post.id) %></p>
  <% end %>
</div>
