<h1>ユーザープロフィール編集</h1>

<%= form_for @user ,url: profile_update_user_path(@user.id) do |f| %>
  <p>Eメール:</p>
  <p><%= f.text_field :email %></p>
  <br/>
  <p>ニックネーム:</p>
  <p><%= f.text_field :nickname %></p>
  <br/>
  <p>自己紹介:</p>
  <p><%= f.text_area :self_introduction %></p>
  <br/>
  <p><%= f.submit "　更新　", class: "btn btn-primary" %></p>
<% end %>

<br/>

<p><%= link_to "マイページへ戻る", user_path(params[:id]) %></p>