<h1>プロフィール編集</h1>

<%= form_for @owner ,url: profile_update_owner_path(@owner.id) do |f| %>
  <p>Eメール:<%= f.text_field :email %></p>
  <p>ニックネーム:<%= f.text_field :nickname %></p>
  <p>自己紹介:<%= f.text_area :self_introduction %></p>
  <p><%= f.submit "更新" %></p>
<% end %>


<p><%= link_to "オーナー専用ページに戻る",owner_salon_path(params[:id]) %></p>