<h1>プロフィール編集</h1>

<%= form_for @owner ,url: profile_update_owner_path(@owner.id) do |f| %>
  <p>Eメール</p>
  <p><%= f.text_field :email , :size => "30" %></p>
  <br/>
  <p>ニックネーム</p>
  <p><%= f.text_field :nickname , :size => "30" %></p>
  <br/>
  <p>自己紹介</p>
  <p><%= f.text_area :self_introduction , :size => "30x10" %></p>
  <br/>
  <p><%= f.submit "　更新　" ,class: "btn btn-primary" %></p>
<% end %>
<br/>

<p><%= link_to "管理ページに戻る",owner_salon_path(params[:id]) %></p>