<h1>掲示板管理画面</h1>

<% @posts.each do |post| %>
  <div class="post">
    <p class="post-title"><%= post.title %></p>
    <p><%= post.body.html_safe %></p>
    <p><%= link_to "編集ページへ", edit_salon_post_path(post.salon_id, post.id) %></p>
    <p><%= link_to "削除", "/salons/#{post.salon_id}/posts/#{post.id}" , method: :delete %></p>
  </div>

<% end %>


<p><%= link_to "サロントップ", salon_path(@salon_id) %></p>