<h1>ポスト詳細画面</h1>
<div class="post">

  <p class="post-title"><%= @post.title %></p>
  <p><%= @post.body.html_safe %></p>
  <div class="post-border"></div>

  <%= form_for @comment , url: "/salons/#{params[:salon_id]}/posts/#{@post.id}/post_comments" , method: :post do |f| %>
    <p>コメント</p>
    <p><%= f.text_area :body, :size => "30x5" %></p>
    <p><%= f.submit "コメントする", class: "btn btn-primary" %></p>
  <% end %>

  <p>【コメント一覧】</p>
  <% @post.post_comments.each do |comment| %>
      <% if comment.user_id.nil? %>
        <p>・<%= comment.owner.email %> | <%= comment.body %>
          <% unless current_owner.nil? then %>
            <%= link_to "削除", "/salons/#{params[:salon_id]}/posts/#{@post.id}/post_comments/#{comment.id}", method: :delete %>
          <% end %>
        </p>
      <% else %>
        <p>・<%= comment.user.email %> | <%= comment.body %>
          <% unless current_user.nil? then %>
            <%= link_to "削除", "/salons/#{params[:salon_id]}/posts/#{@post.id}/post_comments/#{comment.id}", method: :delete if comment.user.id == current_user.id %>
          <% end %>
        </p>
      <% end %>
  <% end %>

</div>

<p><%= link_to "掲示板一覧に戻る", salon_posts_path(params[:salon_id]) %></p>