<h1>ショップ</h1>
<br/>
<p><%= link_to "サロントップ", salon_path(params[:salon_id]) %> ＞ ショップ</p>

<% if @products.empty? %>
  <br/>
  <p>現在、出品されている商品はありません。</p>
<% end %>


<% @products.each do |product| %>
<div class="shop-product-box">
  <p class="shop-product-name">商品名：<%= product.product_name %></p>
  <p>価格：<%= product.price %>円</p>
  <p>商品説明：<%= product.description.html_safe %></p>
  <br/>
  <p><%= link_to "詳しくみる", salon_product_path(params[:salon_id],product.id), class: "btn btn-success" %></p>
</div>
<% end %>
