<h1>新規出品</h1>

<% @product.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert">
    <li><%= message %></li>
  </div>
<% end %>

<%= form_for @product ,url: "/salons/#{params[:salon_id]}/products" ,method: :post do |f| %>
  <p>商品名</p>
  <p><%= f.text_field :product_name, :size => "40" %></p>
  <br/>
  <p>価格</p>
  <p><%= f.text_field :price, :size => "40" %></p>
  <br/>
  <p>商品説明</p>
  <p><%= f.cktext_area :description %></p>
  <br/>
  <p><%= f.submit "出品する", class: "btn btn-primary" %></p>
<% end %>

