<h1>商品詳細</h1>
<p>商品名<%= @product.product_name %></p>
<p>価格：<%= @product.price %>円</p>
<p>商品説明：<%= @product.description.html_safe %></p>


<%= form_for @shopcart ,url: "/user/#{current_user.id}/shopcarts" ,method: :post do |f| %>
  <p>数量：<%= f.text_field :purchase_num %></p>
  <%= f.hidden_field :product_id, :value => @product.id  %>
  <p><%= f.submit "カートに入れる" %></p>
<% end %>



