<% @shopcart.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert">
    <li><%= message %></li>
  </div>
<% end %>

<br/>
<p><%= link_to "サロントップ", salon_path(params[:salon_id]) %> ＞ <%= link_to "ショップ", salon_products_path(params[:salon_id]) %> ＞ <%= @product.product_name %></p>
<div class="shop-product-box">
  <p class="shop-product-name">商品名<%= @product.product_name %></p>
  <p>価格：<%= @product.price %>円</p>
  <p>商品説明：<%= @product.description.html_safe %></p>

  <br/>

  <% if owner_signed_in? %>
    <p>購入数</p>
    <p><input type="text"></p>
    <br/>
    <p class="btn btn-primary">カートに入れる</p>
    <p>※管理ログイン時はボタンは動作しません</p>
  <% else %>
    <%= form_for @shopcart ,url: "/user/#{current_user.id}/shopcarts" ,method: :post do |f| %>
      <p>購入数</p>
      <p><%= f.text_field :purchase_num %></p>
      <%= f.hidden_field :product_id, :value => @product.id  %>
      <br/>
      <p><%= f.submit "カートに入れる", class: "btn btn-primary" %></p>
    <% end %>
  <% end %>
</div>





