<!DOCTYPE html>
<html>
  <head>
    <title>SalonPass</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrap">
      <!-- roots#indexの場合のみヘッダーを変える処理 -->
      <% if controller.controller_name == "roots" && controller.action_name == "index" %>
        <div class="header">
          <a><%= link_to "SalonPass", root_path ,class: "head-title" %></a>
            <% if owner_signed_in? %>
              <a><%= link_to "ログアウト", destroy_owner_session_path, method: :delete, class: "header-nav-right" %></a>
              <a style="color: white;"><%= link_to "管理ページ", owner_salon_path(current_owner.id), class: "header-nav-right" %></a>
            <% elsif user_signed_in? %>
              <a><%= link_to "ユーザーログアウト", destroy_user_session_path, method: :delete, class: "header-nav-right" %></a>
              <a><%= link_to "マイページ", user_path(current_user.id), class: "header-nav-right" %></a>
            <% else %>
              <a><%= link_to "サロンを作る", "http://localhost:3000/owners/sign_up", class: "header-nav-right" %></a>
              <a><%= link_to "ユーザーログイン", new_user_session_path, class: "header-nav-right" %></a>
              <a><%= link_to "管理ログイン", new_owner_session_path, class: "header-nav-right" %></a>
            <% end %>
        </div>
      <% else %>
        <div class="header">
          <a><%= link_to "SalonPass", root_path ,class: "head-title" %></a>
          <% if user_signed_in? %>
            <a><%= link_to "ユーザーログアウト", destroy_user_session_path, method: :delete, class: "header-nav-right" %></a>
            <a><%= link_to "マイページ", user_path(current_user.id), class: "header-nav-right" %></a>
          <% else %>
            <% if owner_signed_in? %>
              <a><%= link_to "ログアウト", destroy_owner_session_path, method: :delete, class: "header-nav-right" %></a>
              <a style="color: white;"><%= link_to "管理ページ", owner_salon_path(current_owner.id), class: "header-nav-right" %></a>
            <% else %>
              <a><%= link_to "新規登録", new_user_registration_path, class: "header-nav-right" %></a>
              <a><%= link_to "ユーザーログイン", new_user_session_path, class: "header-nav-right" %></a>
              <a><%= link_to "管理ログイン", new_owner_session_path, class: "header-nav-right" %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="container">

        <%= yield %>
      
      </div>

      <div class="footer"></div>
    </div>
  </body>
</html>





